h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  a {
    color: inherit;
  }
}

h1, .h1 {
  /*basic heading styles*/
  font-size: 24px;
  letter-spacing: rem-calc(0.24px);
}

h2, .h2 {
  /*basic heading styles*/
  font-weight: 400;
  font-size: 28px;
  &.small-h2 {
    font-size: 21px;
    font-weight: 400;
  }
  &.large-h2 {
    font-size: 32px;
    font-weight: 400;
  }
}

h3, .h3 {
  /*basic heading styles*/
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

h4, .h4 {
  /*basic heading styles*/
}

h5, .h5 {
  /*basic heading styles*/
}

h6, .h6 {
  /*basic heading styles*/
}

@include breakpoint(large) {
  h1, .h1 {
    font-size: 40px;
  }
  h2, .h2 {
    font-size: 37px;
    &.small-h2 {
      font-size: 27px;
    }
    &.large-h2 {
      font-size: 45px;
    }
  }
  h3, .h3 {
    font-size: 22px;
    margin-bottom: 1.3rem;
  }
}

@include breakpoint(xxlarge) {
  h1, .h1 {
    font-size: 56px;
  }
  h2, .h2 {
    font-size: 48px;
    &.small-h2 {
      font-size: 36px;
    }
    &.large-h2 {
      font-size: 58px;
    }
  }
  h3, .h3 {
    font-size: 24px;
  }
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}




a {
  color: get-color(primary);
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  text-decoration: none;

  &:hover, &:focus {
    /*basic hover and focus effects*/
    color: darken(get-color(primary), 20);

  }
}


button, .button, input[type='submit'], input[type='reset'], input[type='button'] {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  border-radius: 6px;
  background-color: get-color(primary);
  margin: 0;
  font-size: 15px;
  padding: 0.7rem 1.5rem;
  font-weight: 500;
  color: $white;
  display: inline-block;
  width: auto;
  &.large-button {
    font-size: 17px;
  }
  &.hollow {
    background-color: $white;
    color: get-color(primary);
    border: 1px solid get-color(primary);
    &:hover {
      background-color: get-color(primary);
      border-color: get-color(primary);
      color: $white;
    }
  }
  &:hover, &:focus {
    color: $white;
  }
  @include breakpoint(medium down) {
    font-size: 14px;
    padding: 0.65rem 1.35rem;
    &.large-button {
      font-size: 16px;
    }
  }
}
